body {
    background-color: rgb(231, 231, 231);
}

.banner {
    background-image: url(../img/Banner4Cropped.jpg);
    background-size: 100% 100%;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
}

.headerContainer {
    /* width: 80%; */
    margin: auto;
    background-color: white;
}

.navbar-light {
    /* opacity: 0.2; */
    background-color: white !important;
    color: white !important;
}

.navbar-light a {
    /* color: purple !important; */
    font-size: 16px;
    font-family: 'Merriweather', serif;
    margin-left: 20px;
}

.navbar-light a:hover {
    color: white !important;
    background-color: rgba(128, 0, 128, 0.315);
    border-radius: 10px;
}


/* .navbar-light .navbar-brand {
    font-size: 0px;
} */

.navIcon {
    width: 40px;
    /* background-color: rgba(128, 0, 128, 0.363); */
}

.navIcon:hover {
    background-color: white;
}


/* .myCanvas {
    border-style: solid;
    width: 80%;
    margin: auto;
} */

.graphSection {
    /* width: 80%; */
    margin: auto;
    background-color: white;
}

.myCanvas {
    background-color: white;
    border: 1px solid black;
    margin: 35px 35px;
    padding: 10px 10px;
    /* margin: auto !important; */
}

.UnitCircleButtons {
    margin-left: 30px;
    padding-bottom: 30px;
}

.dropdown {
    display: inline-block;
}


/* .magGraph {
    width: 700px;
    display: inline-block;
}

.PhaseGraph {
    width: 200px;
    display: inline-block;
} */

.graph {
    width: 700px;
    float: left;
}

.graph2 {
    float: left !important;
}

.correctedPhase {
    width: 700px;
}