

.banner {
    background-image: url(../img/Banner4Cropped.jpg);
    background-size: 100% 100%;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
}

.headerContainer {
    /* width: 80%; */
    margin: auto;
    background-color: white;
}

.navbar-light {
    /* opacity: 0.2; */
    background-color: white !important;
    color: white !important;
}

.navbar-light a {
    /* color: purple !important; */
    font-size: 16px;
    font-family: 'Merriweather', serif;
    margin-left: 20px;
}

.navbar-light a:hover {
    color: white !important;
    background-color: rgba(128, 0, 128, 0.315);
    border-radius: 10px;
}


/* .navbar-light .navbar-brand {
    font-size: 0px;
} */

.navIcon {
    width: 40px;
    /* background-color: rgba(128, 0, 128, 0.363); */
}

.navIcon:hover {
    background-color: white;
}

.myCanvas {
    background-color: white;
    border: 1px solid black;
    margin-top: 140px;
    margin-right:100px;
    padding: 10px 10px;
    /* margin: auto !important; */
}
.graph2 {
    float: left !important;
}
.firstSection{
    padding-left: 100px;
}
.clear{
    clear: both;
}

.graph {
    width: 600px;
    float: left;
}
.label{
    margin-left: 100px;
}
.secondLabel{
    margin-left:450px;
}
.buttons{
    margin-top: 50px;
}
.thirdLabel{
    margin-left: 250px
}
.fourthLabel{margin-left: 500px;}

.Avalue{
    margin-left:660px;
    margin-bottom: 60px;
    margin-top: 30px;
}